body {
	color: white;
	background-image: url("https://i.pinimg.com/originals/4a/94/26/4a94268541d7a0ed95a8be5138e8a288.jpg");
	font-family: 'Roboto';font-size: 20px;
	text-align: justify;
}
footer {
	background-color:charcoal;
}
h1, h2, h3 {
	outline-style: solid;
	outline-color: white;
	outline-width: 4px;
	outline-offset: 5px;
	text-align: center;
}
a:link {
	color: red;
}
a:visited {
	color: green;
}
a:hover {
	color: hotpink;
}
a:active {
	color: yellow;
}
header {
	font-size: 100px;
	text-align: center;
	padding: 10px;
}



	
	

